* {
   box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	line-height: 1.5;
	font-family:Arial, sans-serif;
	font-size:16px;
	background-color: #ccc;
}
header {
	width:100%;
	top:0px;
	text-align: center;
}
h1 {
	font-size:28px;
	font-family: 'Pacifico', cursive;
}
h2 {
	font-size:24px;
}
p {
	line-height: 2.0;
}
.row {
	float:left;
	width:100%;
	padding-left:2%;
	padding-right:2%;
}
.game-instruction {
	width:100%;
	float:left;
	padding:1%;
	background-color:limegreen;
	margin-bottom:3%;
}	
.crystal-image {
	float:left;
}
.crystal-image:hover {
	cursor: pointer;
}
.crystal-area {
	float:left;
	width:100%;
	margin-bottom: 3%;
}
.header-text {
	padding:20px;
}
.crystals-collected, 
.crystals-to-collect,
.wins-and-losses {
	width:33.33%;
	float:left;
	padding:1%;
	height:150px;
	text-align:center;
	margin-bottom:3%;
}
.crystals-collected {
	background-color:red;
	
}
.crystals-to-collect {
	background-color:yellow;
}
.wins-and-losses {
	background-color:pink;
}
.game-stats-header {
	font-family: 'Oswald', sans-serif;
}
.game-stats-body {
	margin:0 auto;
	font-family: 'Oswald', sans-serif;
}