* {
   box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	line-height: 1.5;
}
.container {
    margin:0 auto;
    width:50%;
}
.header {
	width:100%;
	margin-bottom:5px;
	border:1px solid black;
}
.game-instruction {
	width:100%;
	margin-bottom:5px;
	border:1px solid black;
	height:100%;
	float:left;
}	
.crystal-image {
	float:left;
	margin:5px;
	background-color: pink;
	height:100px;
	width:100px;
}